<mat-card class="example-card" *ngIf="account">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ account?.name }}</mat-card-title>
      <mat-card-subtitle>Balance: {{ account?.balance }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p><strong>Client</strong> Role allows this access. You can view your own account balance!</p>
    </mat-card-content>
</mat-card>
